@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 25%);
  --darkBlue: hsl(213, 19%, 13%);
  --verydarkBlue: hsl(216, 12%, 8%);
}

body, button {
  background-color: var(--verydarkBlue);
  font-family: 'Overpass', sans-serif;
  color: var(--lightGrey);
}

button {
  font-size: medium;
  cursor: pointer;
  border-style: none;
  text-align: center;
}

h1 {
  color: var(--white);
}

p {
  font-size: 15px;
}

a {
  color: var(--orange);
}

.card-container {
  margin: 10% auto;
  max-width: 340px;
  min-height: 340px;
  background-color: var(--darkBlue);
  border-radius: 20px;
  padding: 10%;
  flex-wrap: wrap;
  display: flex;
  align-content: stretch;
}

.thank-you {
  text-align: center;
}

.star-circle {
  background-color: var(--mediumGrey);
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 100%;
  display: inline-flex;
  align-content: center;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin: 0 5px auto;
}
.number-btn {
  background-color: var(--mediumGrey);
  color: var(--white);
  border-style: none;
  border-radius: 100%;
  padding: 15px 21px;
  margin: 15px 0;
  width: 50px;
}

.number-btn:hover {
  background-color: var(--lightGrey);
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  height: 40px;
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 20px;
  margin: 20px 0 auto;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.selection {
  color: var(--orange);
  border-radius: 20px;
  height: 2rem;
  min-width: 50%;
  margin: 10% 23%;
  display: flex;
  justify-content: center;
}

.selection-text {
  margin: 0;
  padding: 8px;
}

.attribution { 
    bottom:0%;
    width:100%; 
}
