@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 30%);
  --darkBlue: hsl(213, 19%, 13%);
  --verydarkBlue: hsl(216, 12%, 8%);
}

body {
  background-color: var(--verydarkBlue);
  font-family: 'Overpass', sans-serif;
  color: var(--lightGrey);
}

h1 {
  color: var(--white);
}

p {
  font-size: 15px;
}

a {
  color: var(--orange);
}

.card-container {
  margin: 10% auto;
  max-width: 340px;
  min-height: 340px;
  background-color: var(--darkBlue);
  border-radius: 20px;
  padding: 10%;
  flex-wrap: wrap;
  display: flex;
  align-content: stretch;
}

.selection {
  color: var(--orange);
  background-color: var(--mediumGrey);
  border-radius: 20px;
  height: 2rem;
  min-width: 50%;
  margin: 10% 23%;
  display: flex;
  justify-content: center;
}

.selection-text {
  margin: 0;
  padding: 8px;
}

.attribution { 
    bottom:0%;
    width:100%; 
}
